.container{
    display: flex;
    align-items: center;
    padding:40px 20px ;
    gap:10px;
    .iconFilter{
       cursor: pointer;
       font-size: 40px;
       display: flex;
       flex-direction: column;
    }
    .filter{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        .childFilter{
            display: flex;
            align-items: center;
            gap:10px;
            cursor: pointer;
        }
    }
}