.container{
    width: 100%;
    .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        width: 95%;
        margin: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        
    }
}